/* Write your CSS here */

.button-container {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 8px;
  border-radius: 8px;
  margin: 15px;
  background-color: #585076;
  border-width: 1px;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
}
